# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de compilación
/dist
/build

# Ignorar dependencias de node.js
/node_modules

# Ignorar archivos de configuración de sistemas operativos
.DS_Store
Thumbs.db
